{% extends 'portfolio/base.html' %}

{% block content %}

{% load static %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 greeting">Hi, I'm Molly</h1>
    <p class="lead title">web developer | software engineer | cat mom</p>
    <p class="lead title">

      <i class="fab fa-python fa-2x icons"></i>
      <i class="fab fa-js fa-2x icons"></i>
      <i class="fas fa-terminal fa-2x icons"></i>

    </p>
    <a href="mailto:mollygeerling@gmail.com"><button type="button" class="btn bg-light">Contact</button></a>
  </div>
</div>


<div class="container">

  <h1 class="my-4">Projects</h1 class="my-4">

  <div class="row">
    {% for project in projects %}
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">{{ project.name }}</h4>
          <p class="card-text">{{ project.description }}</p>
          <a class="home-link" href="{{ project.repo }}"><p class="card-text">GitHub repository</p></a>
        </div>
      </div>
    </div>
    {% endfor %}

</div>
<!-- /.container -->

{% endblock %}
